/*general*/
body {
  font-family: Optima, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom right, #d0c4ff, #846be6, #e6679c, #ffa5cb);
  background-size: cover;
  background-attachment: fixed;
  /*background: no-repeat;*/
}
h1 {
  color: #e6679c;
  text-shadow: #84395d 1px 1px;
}

p {

}

input, button {
  margin-left: 50px;
  background-color: #ffa5cb;
  border-radius: 5px;
}

.intro-text {
  text-align: center;
}

#results {
  font-size: 40px;
  color: #ff036c;
  text-shadow: #4b0080 1px 1px;
}

#user-display {
  text-align: center;
}

/*gameboard*/
.container-two {
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 305px;
  margin: 0px auto;
  border: solid 2px darkblue;
}

.grid-unit {
  height: 100px;
  width: 100px;
  border: darkblue 1px solid;
}

.grid-column-one {
  margin-top: -1px;
  margin-left: -1px;
}

.grid-column-two {
  margin: -307px 100px 0px 100px;
}

.grid-column-three {
  margin: -307px 100px 0px 199px;
}

#zero-zero, #zero-one, #zero-two,
#one-zero, #one-one, #one-two,
#two-zero, #two-one, #two-two {
  text-align: center;
  font-size: 80px;
  color: #3b055c;
  text-shadow: 1px 2px #030010;
  background-color: #ffa5cb;
}

footer {
  font-size: 10px;
  margin-top: 70px;
  font-family: cursive;
}